<h1 class="mb-3">Task Manager</h1>
<%= link_to t('show.new'), new_task_path, class:"btn btn-primary mb-3"%>


<table class="table">
  <thead>
    <tr>
      <td><%= t('show.title') %>
        <%= search_form_for @q do |f| %>
          <%= f.label :title_cont %>
          <%= f.search_field :title_cont %>

          <%= f.submit name: 'search'%>
        <% end %>
      </td>
      <td>
        <%= sort_link(@q, :created_at, t('show.created'), default_order: :ASC) %>
      </td>
      <td>
        <%= sort_link(@q, :start, t('show.start'), default_order: :ASC) %>
      </td>
      <td>
        <%= sort_link(@q, :endtime, t('show.end'), default_order: :DESC) %>
      </td>
      <td>
        <%= sort_link(@q, :priority, t('show.priority-text'), default_order: :DESC) %>
      </td>
      <td>
        <%= sort_link(@q, :status, t('show.status-text'), default_order: :ASC) %>
      </td>
      <td><%= t('show.label') %></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td style="font-family: 'Roboto Mono', monospace;"><%= task.created_at.strftime("%y %m %d - %H:%M") %></td>
      <td style="font-family: 'Roboto Mono', monospace;"><%= task.start.strftime("%y %m %d - %H:%M") %></td>
      <td style="font-family: 'Roboto Mono', monospace;"><%= task.endtime.strftime("%y %m %d - %H:%M") %></td>
      <td>
        <%= t('show.priority')[task.priority] %>
      </td>
      <td>
        <%= t('show.status')[task.status] %>
      </td>
      <td>label</td>
      <td>
        <%= link_to edit_task_path(task) do %>
          <i class="fas fa-pen "></i>
        <% end %>
        <%= link_to task_path(task), method: "delete", data: { confirm: "確認刪除" }, id: "delete-#{task.id}" do %>
          <i class="fas fa-trash-alt  ms-1"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>