<% content_for(:title, "Update Profile") %>
<div class="d-flex flex-column justify-content-center align-items-center">
<h1 class="mb-3 title text-center">
  <% if current_user.id == @user.id %>
    Update Your Profile
  <% else %>
    Update User Profile
  <% end %>
</h1>

<div class="shadow panel p-4 w-25">

<%= bootstrap_form_with(model: @user, local: true) do |f| %>
  
  <div class='mb-3'><%= f.text_field :name, label: '姓名' %></div>
  
  <div class='mb-3'><%= f.email_field :email, label: '' %></div>
  
  <div class='mb-3'><%= f.text_field :tel, label: '' %></div>
  
  <% if current_user.id == @user.id %>
    <div class='mb-3'><%= f.password_field :password, label: '' %></div>
    <div><%= f.password_field :password_confirmation, label: '' %></div>
  <% end %>

  <div class="d-flex justify-content-center mt-4"><%= f.submit "Save Changes", class: 'btn btn-outline-secondary' %></div>

<% end %>

</div>
<% if current_user.admin?%>
  <%= link_to 'Back to admin page', admin_path, class:"btn btn-primary mt-5"%>
<% end %>
</div>